div.album(data-wio-id=album.id)
  - var imageUrl = album.getImage('album.album-cover').url
  - var albumTitle = album.getText('album.title') || 'Untitled'
  - var artist = album.getLink('album.musician');
  - var artistName = artist.getText('artists.name');
  img(src=imageUrl alt=albumTitle)
  h2
    a(href=ctx.linkResolver(album))
      != albumTitle
    | by
    a(href=album.getLink('album.musician').url(ctx.linkResolver))
      != artistName
  ul
    each credit in album.getGroup('album.credits').toArray()
      - var creditLink = credit.getLink('link');
      - var creditName = creditLink.getText('artists.name');
      li
        a(href=credit.getLink('link').url(ctx.linkResolver))
          != credit.getText("label")
          != creditName
    li
      != album.getText('album.record-label') || 'Untitled'
    li
      != album.getText('album.year') || 'Untitled'
    
    each medium in album.getGroup('album.mediums').toArray()
      - var mediumLink = medium.getLink('link');
      - var mediumName = mediumLink.getText('mediums.name');
      li
        a(href=medium.getLink('link').url(ctx.linkResolver))
          != mediumName
   
    each genre in album.getGroup('album.genres').toArray()
      - var genreLink = genre.getLink('link');
      - var genreName = genreLink.getText('genres.name');
      li
        a(href=genre.getLink('link').url(ctx.linkResolver))
          != genreName
