div.album(data-wio-id=album.id)
  - var desktopURL = album.getImage("album.album-cover").url
  - var tabletURL = album.getImageView("album.album-cover", "tablet").url
  - var mobileURL = album.getImageView("album.album-cover", "mobile").url
  - var albumTitle = album.getText('album.title') || 'Untitled'
  - var artistName = album.getText('album.musician') || 'Untitled'
  
  picture
    // mobile
    source(media='(max-width: 400px)', srcset=mobileURL)
    // tablet
    source(media='(max-width: 800px)', srcset=tabletURL)
    // desktop
    source(srcset=desktopURL)
    img(src=desktopURL alt=albumTitle)
  h2
    a(href=ctx.linkResolver(album))
      != albumTitle
    | 
    | by
    | 
    != artistName
  if album.getGroup('album.credits')
    ul
      each credit in album.getGroup('album.credits').toArray()
        - var creditLink = credit.getLink('link');
        - var creditName = creditLink.getText('artists.name');
        li
          != credit.getText("label")
          | 
          a(href=credit.getLink('link').url(ctx.linkResolver))
            != creditName
  elseif
    | If you know who created the album artwork please submit an issue  
    a(href='https://github.com/ocularnoise/ocularnoise.github.io/issues/new') on Github.
    
  ul
    li
      != album.getText('album.record-label') || 'Untitled'
    li
      != album.getText('album.year') || 'Untitled'
    
    each medium in album.getGroup('album.mediums').toArray()
      - var mediumLink = medium.getLink('link');
      - var mediumName = mediumLink.getText('mediums.name');
      li
        a(href=medium.getLink('link').url(ctx.linkResolver))
          != mediumName
   
    each genre in album.getGroup('album.genres').toArray()
      - var genreLink = genre.getLink('link');
      - var genreName = genreLink.getText('genres.name');
      li
        a(href=genre.getLink('link').url(ctx.linkResolver))
          != genreName
