extends ./layout.pug

block title
  title !{album.getText("album.title")}

block body
  body.page
    
        h1(data-wio-id=album.id)
          != album.getText('album.title') || 'Untitled'
        
          section.main
            div.album(data-wio-id=album.id)
              - var imageUrl = album.getImage('album.album-cover').url
              - var albumTitle = album.getText('album.title') || 'Untitled'

              img(src=imageUrl alt=albumTitle)
              h2
                != albumTitle
                | by
                a(href=album.getLink('album.musician').url(ctx.linkResolver))
                  Click Here
