extends ./layout.pug

block title
  title !{home.getText("home.title")}

block body
  body.page

    div.home
      h1.title !{home.getText('home.title')}
    
        section.main
          for album in albums
            div.album(data-wio-id=album.id)
              - var imageUrl = album.getImage('album.albumCover').url
              - var albumTitle = album.getText('album.title') || 'Untitled'
              img(src=imageUrl alt=albumTitle)
              h2
                a(href=ctx.linkResolver(album))
                  != albumTitle
                | by
                != album.getText('album.musician') || 'Untitled'
